.feedbackForm {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  border: 2px solid #edc9fb;
  border-radius: 10px;
  box-shadow: 15px 10px 20px rgba(139, 133, 133, 0.5);
  margin: auto; /* Center horizontally */
  max-width: 600px; /* Set a maximum width for better readability */
  padding: 20px;
  background: linear-gradient(to bottom right, #d39ffb, #eae8ea);
}

.buttonContainer {
display: flex;
justify-content:space-around;
margin-top: 20px; /* Adjust the margin for spacing */
}