/* styles/clientnotifications.module.css */
 
.notificationContainer {
  background: repeating-radial-gradient(circle, #f6fac1, #f6f7fa );
  height: 750px;
  margin: 0 ;
}

.backbutton {
  background: linear-gradient(to right, #f4e87d, #e7e6f2,  #f4e87d); /* Gradient background */
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2); /* Shadow effect */
  color: #fff;
  padding: 15px; /* Increased padding for better appearance */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  font-size: 17px; /* Increased font size */
  font-weight: bold; /* Bold text */
  text-transform: uppercase; /* Uppercase text */
  color: black;
  margin-top:25px;
  margin-left:25px;
}
.backbutton:hover {
  background: linear-gradient(to right, #e7e6f2,#f4e87d, #e7e6f2);
  letter-spacing: 1px;
  color: #270676;
}


.heading {
  text-align: center;
  text-decoration:underline; /* Add underline */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add shadow effect */
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
  margin-top: -40PX;
} 
.cardcontainer{
  display: flex;
  flex-wrap: wrap;  
} 

/* .notificationCard {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
} */

.notificationCard {
  flex-direction: column;
  justify-content: center; 
  border: 2px solid #d3c84f;
  border-radius: 10px;
  box-shadow: 15px 10px 20px rgba(139, 133, 133, 0.5);
  margin: 15px;
  margin-top: 30px;
  max-width: 350px; /* Set a maximum width for better readability */
  padding: 15px;
  background: linear-gradient(to bottom right, #f6fca7, #e4f7f8);
  font-size: 17px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* border: 1px solid #ddd; */
  cursor: pointer;
  transition: transform 0.3s;
  text-align: center;
 
}
.notificationCard:hover {
  transform: translateY(-5px);
}

.notificationCard h3 {
  color: #333;
  font-size: 1.2em;
  margin-top: -2px;
  margin-bottom: 7px;
}

.notificationCard p {
  color: #666;
  margin-bottom: 5px;
  margin-top: 2px;
}

.notificationCard button {
  
  background-color: #6bc96e;
  color: rgb(255, 255, 255);
  border: none;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 0px;
  cursor: pointer;
  border-radius:5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
} 
.notificationCard button:hover{
  border: 1px solid rgb(4, 54, 4);
  color: rgb(9, 9, 9);
  font-weight: bold;
}

/* .notificationCard button {
  background-color: #4caf50;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.notificationCard button:hover {
  background-color: #45a049;
} */
