/* dream/styles/clientrequestnotifications.module.css */
 
.requestContainer {
  background: repeating-radial-gradient(circle, #d8cef8, #f6f7fa );
  margin: 0;
  height: 750px;
 
  }
  

  .backbutton {
    background: linear-gradient(to right, #6295fa, #e7e6f2,  #6295fa); /* Gradient background */
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2); /* Shadow effect */
    color: #fff;
    padding: 15px; /* Increased padding for better appearance */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    font-size: 17px; /* Increased font size */
    font-weight: bold; /* Bold text */
    text-transform: uppercase; /* Uppercase text */
    color: black;
    margin-top:25px;
    margin-left:25px;
  }
  .backbutton:hover {
    background: linear-gradient(to right, #e7e6f2,#6295fa, #e7e6f2);
    letter-spacing: 1px;
    color: #270676;
  }
  
  
  .heading {
    text-align: center;
    text-decoration:underline; /* Add underline */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add shadow effect */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    margin-top: -40PX;
  } 
  .cardcontainer{
    display: flex;
    flex-wrap: wrap; 
  } 

  
.requestCard {
  flex-direction: column;
  justify-content: center; 
  border: 2px solid #8395fc;
  border-radius: 20px;
  box-shadow: 15px 10px 20px rgba(139, 133, 133, 0.5);
  margin: 15px;
  margin-top: 10px;
  max-width: 350px; /* Set a maximum width for better readability */
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  background: linear-gradient(to bottom right, #8e9df6, #e4f7f8);
  font-size: 18px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* border: 1px solid #ddd; */
  cursor: pointer;
  transition: transform 0.3s;
}

  /* .requestCard {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  } */
  
  .requestCard h2 {
    margin-bottom: 10px;
    font-size: 18px;
  }
/*   
  .requestCard h3 {
    margin-bottom: 5px;
    font-size: 16px;
  } */
  
  .requestCard p {
    margin: 5px 0;
    font-size: 17px;
  }
  
  /* .requestCard button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  } */
  
  .buttonContainer {
    margin-top: 10px;
    
  }

  .accept {
    background-color: #327930;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 5px;
    cursor: pointer;
    border-radius:5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-left: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  } 
  .accept:hover{
    border: 1px solid rgb(4, 54, 4);
    color: rgb(9, 9, 9);
  } 
  .reject{
    background-color: #f1725c;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius:5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-left: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .reject:hover{
    border: 1px solid rgb(106, 15, 9);
    color: rgb(9, 9, 9);
  }
  
  /* p.noRequests {
    color: #999;
    font-style: italic;
  } */
  
  