/* styles/constructorfeedback.module.css */
.feedbackContainer {
  background: repeating-radial-gradient(circle, #faede6, #f6f7fa );
  margin: 0;
  height: 1000px;
  
}
.backbutton {
  background: linear-gradient(to right, #f7bda0, #e7e6f2,  #f7bda0); /* Gradient background */
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2); /* Shadow effect */
  color: #fff;
  padding: 15px; /* Increased padding for better appearance */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  font-size: 17px; /* Increased font size */
  font-weight: bold; /* Bold text */
  text-transform: uppercase; /* Uppercase text */
  color: black;
  margin-top:25px;
  margin-left:25px;
}
.backbutton:hover {
  background: linear-gradient(to right, #e7e6f2,#f7bda0, #e7e6f2);
  letter-spacing: 1px;
  color: #270676;
}


.heading {
  text-align: center;
  text-decoration:underline; /* Add underline */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add shadow effect */
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
  margin-top: -40PX;
} 

 .cardcontainer{
  display: flex;
  flex-wrap: wrap; 
  
} 



.feedbackCard {
  flex-direction: column;
  justify-content: center; 
  border: 2px solid #f6bb8b;
  border-radius: 10px;
  box-shadow: 15px 10px 20px rgba(139, 133, 133, 0.5);
  margin: 15px;
  margin-top: 30px;
  max-width: 350px; /* Set a maximum width for better readability */
  padding: 15px;
  background: linear-gradient(to bottom right, #f5cbb7, #e4f7f8);
  font-size: 18px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* border: 1px solid #ddd; */
  cursor: pointer;
  transition: transform 0.3s;
  
}
.profileContainer {
  display: flex;
  align-items: center; /* Vertical alignment */
  margin-bottom: -12px;
  margin-top: -20px;
}
.profilePicture{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right:20px;
 
}
.ratings
{
  display: flex;
  flex-wrap: wrap;
}

.totratings 
{
  padding: 5px;
  padding-left: 10px;
  font-size: 14px;
  color:grey;
 
}

.feedbackCard:hover {
  transform: translateY(-5px);
}

.feedbackCard h5{
  margin-bottom: -5px;
  
  margin-top:5px;
}

/* h2 {
  margin-bottom: 10px;
}

h3 {
  color: #007bff;
}

p {
  font-style: italic;
} */
