body {
  background: linear-gradient(to bottom, #f7f4f4 80%, #eae2e2, #726f6f); 
  height: 700px;
  margin: 0; /* Reset default body margin */
}

  label {
    font-size: 20px;
    margin-bottom: 8px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  select,
  textarea,
  input {
    width: 100%;
    padding: 8px;
    margin-top: 3px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    resize: none;
  }
  
  button {
    background: linear-gradient(to right, #eedefb, #aea7f1); /* Gradient background */
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2); /* Shadow effect */
    color: #fff;
    padding: 15px; /* Increased padding for better appearance */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 220px;
    font-size: 17px; /* Increased font size */
    font-weight: bold; /* Bold text */
    text-transform: uppercase; /* Uppercase text */
    color: black;
  }
  
  button:hover {
    background: linear-gradient(to right, #aea7f1, #eedefb);
    letter-spacing: 1px;
    color: #9603ba;
  } 
  /* h1{
   
      text-align: center; 
      text-decoration:underline; 
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      
      font-size:50px;
} */